@charset "utf-8";
/* CSS Document */

/*--------------------- font CSS ---------------------*/
.iconfont {
  font-family:"moocwechat" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

body { font-family:"Heiti SC",Helvetica;}

/*--------------------- icon CSS ---------------------*/

/*---------- 登录、注册 验证提示 -----------*/
.validate_prompt {/*  position:absolute; top:2px; */ right:0; height:30px; line-height:30px; padding:0 0 0 26px; background:url(../images/hint.gif) 0 center no-repeat; font-size:28px; font-weight:normal; color:#ff8723; z-index:1; display: none;}

/*---------- 登录 ----------*/
.login_user:after { content:"\e621";}/* 用户 */
.login_pwd:after { content:"\e620";}/* 密码 */
.login_mail:after { content:"\e608";}/* 邮箱 */
.login_phone:after { content:"\e607";}/* 手机 */
.login_vcode:after { content:"\e610";}/* 验证码 */

/*---------- 九宫格 ----------*/
.grid_work:after { content:"\e60c";}/* 作业 */
.grid_test:after { content:"\e61f";}/* 自测 */
.grid_topic:after { content:"\e61e";}/* 主题讨论 */
.grid_notice:after { content:"\e61d";}/* 课程通知 */
.grid_share:after { content:"\e61c";}/* 共享笔记 */
.grid_discuss:after { content:"\e60b";}/* 大家在说什么 */
.grid_stat:after { content:"\e60a";}/* 课程统计 */

/*---------- 右侧圆形展开 ----------*/
.tools_cross:after { content:"\e61b";}/* 开关 */
.tools_note:after { content:"\e61a";}/* 笔记 */
.tools_question:after { content:"\e619";}/* 疑问 */

/*---------- 章节目录 ----------*/
.chapter_tw:after { content:"\e618";}/* 图文 */
.chapter_file:after { content:"\e617";}/* 文字 */
.chapter_discuss:after { content:"\e616";}/* 讨论 */
.chapter_work:after { content:"\e615";}/* 作业 */
.chapter_video:after { content:"\e614";}/* 视频 */
.chapter_dload:after { content:"\e613";}/* 下载 */
.chapter_link:after { content:"\e612";}/* 链接 */
.chapter_sfp:after { content:"\e611";}/* 三分屏 */

/*---------- 用作标题装饰 ----------*/
.tit_dload:after { content:"\e60e";}/* 资料下载 */
.tit_link:after { content:"\e609";}/* 外部链接 */

/*---------- 用作按钮 ----------*/
.btn_back:after { content:"\e60f";}/* 返回 */
.btn_dload:after { content:"\e60d";}/* 下载 */
.btn_search:after { content:"\e603";}/* 搜索 */

/*---------- 仅为图标 ----------*/
.ico_user:after { content:"\e600";}/* 用户、人数 */
.ico_calendar:after { content:"\e604";}/* 日历 */
.ico_phone:after { content:"\e601";}/* 电话 */
.ico_filter:after { content:"\e602";}/* 筛选 */
.ico_arrR:after { content:"\e622";}/* 右箭头 */
.ico_linearrR:after { content:"\e625";}/* 线型右箭头 */
.ico_circle:after { content:"\e623";}/* 圆圈 */
.ico_done:after { content:"\e624";}/* 勾 */

/*--------------------- frame CSS ---------------------*/
.webWidth { width:750px;}

/* header */
.header { height:36px; padding:31px 30px; background:#fff;}
.logo { width:142px; height:35px; background:url(../images/logo.png) 0 0 no-repeat;}

.search_zoom { font-size:30px; line-height:36px; color:#45c01a; cursor:pointer;}

.login_link { margin-left:20px; line-height:36px; font-size:24px; color:#45c01a;}
.login_link:active { text-decoration:underline;}

.login_foot { position:absolute; bottom:30px; width:100%; text-align:center;}


/* nav */
.navbar { height:68px; background:#45c01a;}
.nav_list { float:left; padding:0 40px; line-height:68px; font-size:26px; color:#fff; cursor:pointer;}
.nav_cur { background:#139103;}

.app { position:absolute; top:0; right:30px; text-align:right; line-height:68px; font-size:26px; color:#fff;}

/*-------------------- login&regist CSS --------------------*/
.form_box { position:relative; height:88px; padding:0 30px 0 110px; border-bottom:1px #ddd solid; background:#fff;}
.form_ico { position:absolute; top:24px; left:30px; margin-right:40px; line-height:40px; font-size:40px; color:#afafaf;}
.form_input { height:88px; width:100%; font-family:"Heiti SC",Helvetica; font-size:28px; color:#cfcfcf;}

.form_btn { position:absolute; top:20px; right:30px; padding:0 20px; border-radius:2px; line-height:48px; background:#ffc001; font-size:24px; color:#fff;}
.form_btn:active { background:#ffa801;}

/*--------------------- element CSS ---------------------*/
/* color */
.com_color { color:#45c01a;}
.blue { color:#419fff;}
.red { color:#ff3c2c;}
.yellow { color:#ffc001;}

/* title */
.tit1 { font-size:34px; font-weight:bold; color:#45c01a;}
.tit2 { line-height:70px; padding:0 20px; border-bottom:1px #ddd solid; font-size:28px; color:#666;}
.tit3 { font-weight:bold; font-size:28px; color:#000;}
.tit4 { font-size:20px; line-height:20px; color:#999;}
.tit5 { font-size:20px; line-height:20px; color:#45c01a;}
.tit6 { font-weight:bold; font-size:28px; color:#666;}

/* txt */
.txt { font-size:24px; line-height:36px; color:#666;}
.txt2 { font-size:28px; line-height:48px; color:#666;}

/* link */
.link1 { font-size:24px; color:#45c01a;}
.link1:active { text-decoration:underline;}

.link2 { font-size:28px; color:#666;}
.link2:active { color:#45c01a;}

.link3 { color:#3e67ce;}
.link3:active { text-decoration:underline;}

/* btn */
.btn1 { display:block; width:100%; height:88px; border-radius:3px; background:#45c01a; line-height:88px; text-align:center; font-family:"Heiti SC",Helvetica; font-size:34px; color:#fff;}
.btn1:active { background:#38ab10;}

.btn2 { padding:0 20px; border-radius:2px; line-height:48px; background:#ffc001; font-size:24px; color:#fff;}
.btn2:active { background:#ffa801;}

.btn3 { display:block; width:100%; height:58px; border-radius:3px; background:#45c01a; text-align:center; line-height:58px; font-size:28px; color:#fff;}
.btn3:active { background:#38ab10;}

/* 多选/单选 */ 
label { display: block; cursor: pointer; padding-left:40px; font-size:28px; color:#666;}  
 
.f_style .label_check { background:url(../images/check_default.png) 0 5px no-repeat;} 
.f_style label.c_on,
.f_style label.c_on:hover { background:url(../images/check_selected.png) 0 5px no-repeat;}

.f_style .label_radio { background:url(../images/radio_default.png) 0 5px no-repeat;} 
.f_style label.r_on,
.f_style label.r_on:hover { background:url(../images/radio_selected.png) 0 5px no-repeat;} 

.f_style .label_check input,
.f_style .label_radio input { position: absolute; left: -99999px;} 

/* 选项卡一 */
.aTab_tabs { padding:20px 0; border-bottom:1px #ddd solid; text-align:center;}
.aTab_tabs_li { display:inline-block; margin:0 10px;}
.aTab_tabs_li a { display:inline-block; padding:0 20px; border:2px #ddd solid; border-radius:4px; background:#fff; line-height:54px; font-size:28px; color:#999;}
.aTab_tabs_li a.aTab_cur { border-color:#45c01a; color:#45c01a;}
.aTab_con { display:none;}

/* 选项卡二 */
.bTab_tabs { height:70px; padding:0 20px; border-bottom:1px #ddd solid; text-align:right;}
.bTab_tabs_li { display:inline-block; margin-left:10px;}
.bTab_tabs_li a { display:inline-block; padding:0 20px; line-height:70px; font-weight:bold; font-size:24px; color:#999;}
.bTab_tabs_li a.bTab_cur { border-bottom:2px #45c01a solid; line-height:68px; color:#45c01a;}
.bTab_con { display:none;}

/* 选项卡三 */
.cTab_tabs { height:88px; box-shadow:0 1px 2px #ddd;}
.cTab_tabs_li { float:left; width:33.3%;}
.cTab_tabs_li a { display:block; line-height:88px; text-align:center; font-weight:bold; font-size:28px; color:#333;}
.cTab_tabs_li a.cTab_cur { border-bottom:2px #45c01a solid; line-height:86px; color:#45c01a;}
.cTab_con { display:none;}

/* 课程模块一 */
.course { position:relative; height:190px; padding:20px 0 20px 320px; border-bottom:1px #ddd solid;}
.course_thumb { position:absolute; width:300px; height:190px; top:20px; left:0;}
.course_tit { line-height:48px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.course_txt { height:72px; overflow:hidden; text-overflow:ellipsis;}

/* 课程模块二 */
.course2 { border-bottom:none;}
.course_teacher { float:left; width:90px; height:90px; margin:0 20px 20px 0;}
.course_teacher img { border-radius:50%;}

/* 图片切换 */
.imgShift { height:260px;}

.anythingSlider                         { width:100%; height: 260px; position: relative; margin:0 auto; overflow:hidden;}
.anythingSlider .wrapper                { width:100%; overflow:hidden; height: 260px; position: absolute; top: 0; left: 0; }
.anythingSlider .wrapper ul             { width: 99999px; list-style: none; position: absolute; top: 0; left: 0; background: #eee; margin: 0; }
.anythingSlider ul li                   { position:relative; display: block; float:left; padding: 0; width:1300px; height: 165px; margin: 0 auto;}
.anythingSlider .arrow                  { display: none;}

#thumbNav                               { position: absolute; top: 200px; left:50%; width:640px; height:10px; text-align: center; margin-left:-320px;}
#thumbNav a                             { display: inline-block; width:22px; height: 22px; margin:0 5px; background:url(../images/switch_dots.png) 0 0 no-repeat;  font-size:0px;}
#thumbNav a:hover                       { background:url(../images/switch_dots.png) -30px 0 no-repeat;  font-size:0px; color:#45c01a; text-align:center;}
#thumbNav a.cur                         { background:url(../images/switch_dots.png) -30px 0 no-repeat;  font-size:0px; color:#45c01a; text-align:center;}


/* 筛选 */
.filter { position:absolute; top:17px; left:20px;}
.filter_txt { line-height:36px; font-size:28px; color:#afafaf;}
.filter_txt:active { color:#45c01a;}


/* 右下角小工具 */
.tools { position:fixed; right:30px; bottom:30px; z-index:1;}
.tools_li { position:relative; width:72px; height:72px; margin-top:10px; border-radius:50%; background:#45c01a; box-shadow:0 3px 6px #ddd; text-align:center; line-height:72px;}
.tools_ico { font-size:40px; color:#fff;}
.tools_alt { position:absolute; width:104px; height:48px; top:12px; left:-120px; border-radius:3px; background:#555; text-align:center; line-height:48px; font-size:20px; color:#fff; box-shadow:0 3px 6px #ddd;}
.tools_arr { position:absolute; right:-6px; font-size:8px; color:#555;}

.tools_shut .tools_cross { transform:rotate(45deg);}


/* 章节目录 */
.chapter,
.section,
.point { height:88px; border-bottom:1px #ddd solid; line-height:88px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:28px;}

.chapter_arr { position:absolute; right:20px; top:0; font-size:28px; color:#999;}

.chapter_ico { display:inline-block; width:6px; height:40px; background:#45c01a; margin-right:24px; vertical-align:-10px;}
.section_ico { font-size:30px; margin-right:24px;}
.point_ico { display:inline-block; width:30px; height:30px; line-height:30px; background:#fff; font-size:30px; margin-right:24px; color:#d7d7d7;}

.point { padding:0 30px 0 84px; color:#999; background-image:url(../images/grayline.png); background-position:98px 0; background-repeat:repeat-y;}
.point_current,
.point_done { background-image:url(../images/greenline.png); color:#45c01a;}
.point_current .point_ico,
.point_done .point_ico { color:#45c01a;}
.point_visited { background-image:url(../images/darkline.png); color:#666;}
.point_visited .point_ico,
.point_done span { color:#666;}


/* 九宫格 */
.grid { float:left; width:186px; height:186px; border-bottom:1px #ddd solid; border-right:1px #ddd solid; text-align:center;}
.grid_ico { display:block; margin:50px 0 10px 0; line-height:60px; font-size:60px;}

/* 各类型资源标题栏 */
.sourcebar { height:88px; padding:0 20px; border-bottom:1px #ddd solid; box-shadow:0 1px 2px #ddd; background:#fff; line-height:88px; font-size:28px; font-weight:bold; color:#45c01a;}

.dl_list { position:relative; height:88px; padding:25px 100px 25px 155px; border-bottom:1px #ddd solid;}
.dl_btn { position:absolute; top:50px; right:30px; line-height:40px; font-size:40px; color:#ccc;}
.dl_btn:active { color:#45c01a;}
.file_ico { position:absolute; width:80px; height:88px; top:25px; left:50px; background-image:url(../images/dload_icos.png); background-repeat:no-repeat;}
.file_exe { background-position:0 0;}
.file_music { background-position:-90px 0;}
.file_xls { background-position:-180px 0;}
.file_ppt { background-position:-270px 0;}
.file_doc { background-position:-360px 0;}
.file_txt { background-position:-450px 0;}
.file_pdf { background-position:-540px 0;}
.file_img { background-position:-630px 0;}
.file_video { background-position:-720px 0;}
.file_zip { background-position:-810px 0;}
.file_folder { background-position:-900px 0;}
.file_unknown { background-position:-990px 0;}

/* 弹出窗口 */
.overlay { position:fixed; top:0; right:0; bottom:0; left:0; background:#000; opacity:.5; z-index:1; display:none;}
.win { position:fixed; top:50%; left:50%; width:80%; border-radius:6px; background:#fff; box-shadow:0 0 10px #666; z-index:2; display:none;}

/* 个人主页 */
.hp_ban { background:url(../images/homepage_ban.png) center top no-repeat; background-size:cover;}
.hp_portrait,
.hp_portrait div,
.hp_portrait img { width:140px; height:140px; border-radius:50%;}
.hp_portrait { margin:0 auto; background:rgba(255,255,255,.2); box-shadow:0 0 16px #3da81e;}
.hp_portrait div { background-size:cover;}
.hp_name { line-height:50px; text-align:center; font-size:26px; color:#fff;}
.hp_exit { position:absolute; top:15px; right:20px; font-size:26px; color:#fff;}

/* btn */
.btn1 { display:block; width:100%; height:88px; border-radius:3px; background:#45c01a; line-height:88px; text-align:center; font-family:"Heiti SC",Helvetica; font-size:34px; color:#fff;}
.btn1:active { background:#38ab10;}

.btn2 { padding:0 20px; border-radius:2px; line-height:48px; background:#ffc001; font-size:24px; color:#fff;}
.btn2:active { background:#ffa801;}

.btn3 { display:block; width:100%; height:58px; border-radius:3px; background:#45c01a; text-align:center; line-height:58px; font-size:28px; color:#fff;}
.btn3:active { background:#38ab10;}

.btn4 { display:block; width:100%; height:58px; border-radius:3px; background:#eee; text-align:center; line-height:58px; font-size:28px; color:#666;}
.btn4:active { background:#ccc;}

.btn5 { display:block; width:100%; height:88px; border-radius:3px; background:#ffa801; line-height:88px; text-align:center; font-size:34px; color:#fff;}
.btn5:active { background:#ff8a01;}

.btn6 { display:block; width:100%; height:58px; text-align:center; line-height:58px; font-size:28px; color:#45c01a;}

.btn7 { display:inline-block; height:42px; padding:0 20px; border:1px #a5d8a7 solid; border-radius:3px; line-height:42px; font-size:22px; color:#45c01a;}
.btn7:active { border-color:#45c01a; background:#45c01a; color:#fff;}

.hp_info {height: 210px;padding: 110px 0px 25px 0px;}
.null {padding-top: 15%;text-align: center;}
.null_mycourse:after { content:"\e65c";}/* 空页面-我的课程 */
.null_ico { margin-bottom: 5%;line-height: 100px;font-size: 100px;color: #cdcdcd;}
.null_txt {font-size: 28px;color: #afafaf;}

