/*----------
* 2015-08-13 v1.0
* 2015-08-13 v1.1 添加 margin 和 padding 值为 50 70 100 的全套样式
* 2015-08-22 v1.2 删除 .vn { vertical-align:-2px;}
				  修改 .auto { margin-right:auto; margin-left:auto;}
				  添加 四角绝对定位
* 2015-09-06 v1.3 添加 margin negative
                  ul,ol,li { padding-left:0; list-style-type:none;} 添加 li
* 2015-09-11 v1.4 添加 .bg_n { background:none;}
                      .f30 { font-size:30px;}
                      .f36 { font-size:36px;}
		      .tdt { text-decoration:line-through;}
* 2015-10-08 v1.5 添加 .bd_f { border:1px solid #fff;}
                       .pct45 { width:45%;}
----------*/

/*--------------------- reset CSS ---------------------*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form { margin:0;}
body { color:#666; font-family:arial; background:white;}
ul,ol,li { padding-left:0; list-style-type:none;}
img { border:0;}
input,textarea,select { outline:none; border:none; margin:0; padding:0}
h1,h2,h3,h4,h5,h6 { font-weight:normal;}
h4,h5,h6{ font-size:1em;}
a { font-size:12px; text-decoration:none;}


/*--------------------- single CSS -----------------------*/
/* display */
.dn { display:none;}
.di { display:inline;}
.db { display:block;}
.dib { display:inline-block;}

/* height */
.h14 { height:14px;}
.h16 { height:16px;}
.h18 { height:18px;}
.h20 { height:20px;}
.h22 { height:22px;}
.h24 { height:24px;}
.h30 { height:30px;}
.h40 { height:40px;}
.h50 { height:50px;}
.h60 { height:60px;}
.h80 { height:80px;}
.h100 { height:100px;}

/* width */
/* fixed width value */
.w20 { width:20px;}
.w40 { width:40px;}
.w50 { width:50px;}
.w60 { width:60px;}
.w70 { width:70px;}
.w80 { width:80px;}
.w100 { width:100px;}
.w120 { width:120px;}
.w140 { width:140px;}
.w160 { width:160px;}
.w180 { width:180px;}
.w200 { width:200px;}
.w220 { width:220px;}
.w250 { width:250px;}
.w280 { width:280px;}
.w300 { width:300px;}
.w320 { width:320px;}
.w360 { width:360px;}
.w400 { width:400px;}
.w460 { width:460px;}
.w500 { width:500px;}
.w600 { width:600px;}
.w640 { width:640px;}
.w700 { width:700px;}
/* percent width value */
.pct10 { width:10%;}
.pct15 { width:15%;}
.pct20 { width:20%;}
.pct25 { width:25%;}
.pct30 { width:30%;}
.pct33 { width:33.3%;}
.pct40 { width:40%;}
.pct45 { width:45%;}
.pct50 { width:50%;}
.pct60 { width:60%;}
.pct66 { width:66.6%;}
.pct70 { width:70%;}
.pct75 { width:75%;}
.pct80 { width:80%;}
.pct90 { width:90%;}
.pct100 { width:100%;}

/* line-height */
.lh14 { line-height:14px;}
.lh16 { line-height:16px;}
.lh18 { line-height:18px;}
.lh20 { line-height:20px;}
.lh22 { line-height:22px;}
.lh24 { line-height:24px;}
.lh30 { line-height:30px;}
.lh36 { line-height:36px;}
.lh40 { line-height:40px;}
.lh48 { line-height:48px;}
.lh50 { line-height:50px;}

/* margin */
.m0 { margin:0;}
.mt0 { margin-top:0;}
.mr0 { margin-right:0;}
.mb0 { margin-bottom:0;}
.ml0 { margin-left:0;}
.m1 { margin:1px;}
.m1_0 { margin-top:1px; margin-bottom:1px;}
.m0_1 { margin-right:1px; margin-left:1px;}
.mt1 { margin-top:1px;}
.mr1 { margin-right:1px;}
.mb1 { margin-bottom:1px;}
.ml1 { margin-left:1px;}
.m5 { margin:5px;}
.m5_0 { margin-top:5px; margin-bottom:5px;}
.m0_5 { margin-right:5px; margin-left:5px;}
.mt5 { margin-top:5px;}
.mr5 { margin-right:5px;}
.mb5 { margin-bottom:5px;}
.ml5 { margin-left:5px;}
.m10 { margin:10px;}
.m10_0 { margin-top:10px; margin-bottom:10px;}
.m0_10 { margin-right:10px; margin-left:10px;}
.mt10 { margin-top:10px;}
.mr10 { margin-right:10px;}
.mb10 { margin-bottom:10px;}
.ml10 { margin-left:10px;}
.m15 { margin:15px;}
.m15_0 { margin-top:15px; margin-bottom:15px;}
.m0_15 { margin-right:15px; margin-left:15px;}
.mt15 { margin-top:15px;}
.mr15 { margin-right:15px;}
.mb15 { margin-bottom:15px;}
.ml15 { margin-left:15px;}
.m20 { margin:20px;}
.m20_0 { margin-top:20px; margin-bottom:20px;}
.m0_20 { margin-right:20px; margin-left:20px;}
.mt20 { margin-top:20px;}
.mr20 { margin-right:20px;}
.mb20 { margin-bottom:20px;}
.ml20 { margin-left:20px;}
.m25 { margin:25px;}
.m25_0 { margin-top:25px; margin-bottom:25px;}
.m0_25 { margin-right:25px; margin-left:25px;}
.mt25 { margin-top:25px;}
.mr25 { margin-right:25px;}
.mb25 { margin-bottom:25px;}
.ml25 { margin-left:25px;}
.m30 { margin:30px;}
.m30_0 { margin-top:30px; margin-bottom:30px;}
.m0_30 { margin-right:30px; margin-left:30px;}
.mr30 { margin-right:30px;}
.mt30 { margin-top:30px;}
.mb30 { margin-bottom:30px;}
.ml30 { margin-left:30px;}
.m50 { margin:50px;}
.m50_0 { margin-top:50px; margin-bottom:50px;}
.m0_50 { margin-right:50px; margin-left:50px;}
.mr50 { margin-right:50px;}
.mt50 { margin-top:50px;}
.mb50 { margin-bottom:50px;}
.ml50 { margin-left:50px;}
.m70 { margin:70px;}
.m70_0 { margin-top:70px; margin-bottom:70px;}
.m0_70 { margin-right:70px; margin-left:70px;}
.mr70 { margin-right:70px;}
.mt70 { margin-top:70px;}
.mb70 { margin-bottom:70px;}
.ml70 { margin-left:70px;}
.m100 { margin:100px;}
.m100_0 { margin-top:100px; margin-bottom:100px;}
.m0_100 { margin-right:100px; margin-left:100px;}
.mr100 { margin-right:100px;}
.mt100 { margin-top:100px;}
.mb100 { margin-bottom:100px;}
.ml100 { margin-left:100px;}
/* margin negative */
.ml-1{margin-left:-1px;}
.mr-1{margin-right:-1px;}
.mt-1{margin-top:-1px;}
.mb-1{margin-bottom:-1px;}
.ml-3{margin-left:-3px;}
.mr-3{margin-right:-3px;}
.mt-3{margin-top:-3px;}
.mb-3{margin-bottom:-3px;}
.ml-20{margin-left:-20px;}
.mr-20{margin-right:-20px;}
.mt-20{margin-top:-20px;}
.mb-20{margin-bottom:-20px;}

/* padding */
.p0 { padding:0;}
.pt0 { padding-top:0;}
.pr0 { padding-right:0;}
.pb0 { padding-bottom:0;}
.pl0 { padding-left:0;}
.p1 { padding:1px;}
.pt1 { padding-top:1px;}
.pr1 { padding-right:1px;}
.pb1 { padding-bottom:1px;}
.pl1 { padding-left:1px;}
.p2 { padding:2px;}
.pt2 { padding-top:2px;}
.pr2 { padding-right:2px;}
.pb2 { padding-bottom:2px;}
.pl2 { padding-left:2px;}
.p5 { padding:5px;}
.p5_0 { padding-top:5px; padding-bottom:5px;}
.p0_5 { padding-right:5px; padding-left:5px;}
.pt5 { padding-top:5px;}
.pr5 { padding-right:5px;}
.pb5 { padding-bottom:5px;}
.pl5 { padding-left:5px;}
.p10 { padding:10px;}
.p10_0 { padding-top:10px; padding-bottom:10px;}
.p0_10 { padding-right:10px; padding-left:10px;}
.pt10 { padding-top:10px;}
.pr10 { padding-right:10px;}
.pb10 { padding-bottom:10px;}
.pl10 { padding-left:10px;}
.p15 { padding:15px;}
.p15_0 { padding-top:15px; padding-bottom:15px;}
.p0_15 { padding-right:15px; padding-left:15px;}
.pt15 { padding-top:15px;}
.pr15 { padding-right:15px;}
.pb15 { padding-bottom:15px;}
.pl15 { padding-left:15px;}
.p20 { padding:20px;}
.p20_0 { padding-top:20px; padding-bottom:20px;}
.p0_20 { padding-right:20px; padding-left:20px;}
.pt20 { padding-top:20px;}
.pr20 { padding-right:20px;}
.pb20 { padding-bottom:20px;}
.pl20 { padding-left:20px;}
.p30 { padding:30px;}
.p30_0 { padding-top:30px; padding-bottom:30px;}
.p0_30 { padding-right:30px; padding-left:30px;}
.pt30 { padding-top:30px;}
.pr30 { padding-right:30px;}
.pb30 { padding-bottom:30px;}
.pl30 { padding-left:30px;}
.p40 { padding:40px;}
.p40_0 { padding-top:40px; padding-bottom:40px;}
.p0_40 { padding-right:40px; padding-left:40px;}
.pt40 { padding-top:40px;}
.pr40 { padding-right:40px;}
.pb40 { padding-bottom:40px;}
.pl40 { padding-left:40px;}
.p50 { padding:50px;}
.p50_0 { padding-top:50px; padding-bottom:50px;}
.p0_50 { padding-right:50px; padding-left:50px;}
.pt50 { padding-top:50px;}
.pr50 { padding-right:50px;}
.pb50 { padding-bottom:50px;}
.pl50 { padding-left:50px;}
.p70 { padding:70px;}
.p70_0 { padding-top:70px; padding-bottom:70px;}
.p0_70 { padding-right:70px; padding-left:70px;}
.pt70 { padding-top:70px;}
.pr70 { padding-right:70px;}
.pb70 { padding-bottom:70px;}
.pl70 { padding-left:70px;}
.p100 { padding:30px;}
.p100_0 { padding-top:100px; padding-bottom:100px;}
.p0_100 { padding-right:100px; padding-left:100px;}
.pt100 { padding-top:100px;}
.pr100 { padding-right:100px;}
.pb100 { padding-bottom:100px;}
.pl100 { padding-left:100px;}

/* border-color */
.bd_c { border:1px solid #ccc;}
.bd_d { border:1px solid #ddd;}
.bd_e { border:1px solid #eee;}
.bd_f { border:1px solid #fff;}
.br_c { border-right:1px solid #ccc;}
.bt_c { border-top:1px solid #ccc;}
.bb_c { border-bottom:1px solid #ccc;}
.bl_c { border-left:1px solid #ccc;}
.bt_d { border-top:1px solid #ddd;}
.br_d { border-right:1px solid #ddd;}
.bl_d { border-left:1px solid #ddd;}
.bb_d { border-bottom:1px solid #ddd;}
.bt_e { border-top:1px solid #eee;}
.br_e { border-right:1px solid #eee;}
.bb_e { border-bottom:1px solid #eee;}
.bl_e { border-left:1px solid #eee;}

/* background-color */
.bg_n { background:none;}
.bg_wh { background-color:#fff;}
.bg_fb { background-color:#fbfbfb;}
.bg_fc { background-color:#fcfcfc;}
.bg_f5 { background-color:#f5f5f5;}
.bg_f9 { background-color:#f9f9f9;}
.bg_f0 { background-color:#f0f0f0;}
.bg_eb { background-color:#ebebeb;}
.bg_e0 { background-color:#e0e0e0;}

/* safe color */
.g0 { color:#000;}
.g2 { color:#222;}
.g3 { color:#333;}
.g4 { color:#444;}
.g6 { color:#666;}
.g8 { color:#888;}
.g9 { color:#999;}
.gc { color:#ccc;}
.gaf { color:#afafaf;}
.wh { color:white;}

/* font-size */
.f0 { font-size:0;}
.f10 { font-size:10px;}
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f18 { font-size:18px;}
.f20 { font-size:20px;}
.f24 { font-size:24px;}
.f28 { font-size:28px;}
.f30 { font-size:30px;}
.f34 { font-size:34px;}
.f36 { font-size:36px;}

/* font-family */
.ff_a { font-family:Arial;}
.ff_v { font-family:Verdana;}
.ff_w { font-family:'Microsoft Yahei';}

/* font-style */
.n { font-weight:normal; font-style:normal;}
.b { font-weight:bold;}
.i { font-style:italic;}

/* text-align */
.tc {text-align:center;}
.tr {text-align:right;}
.tl {text-align:left;}
.tj {text-align:justify;}

/* text-decoration */
.tdl { text-decoration:underline;}
.tdn { text-decoration:none;}
.tdt { text-decoration:line-through;}

/* white-space */
.nowrap { white-space:nowrap;}
/* word-wrap */
.bk { word-wrap:break-word;}

/* vertical-align */
.vm { vertical-align:middle;}
.vtb { vertical-align:text-bottom;}
.vb { vertical-align:bottom;}
.vt { vertical-align:top;}

/* float */
.l { float:left;}
.r { float:right;}

/* clear */
.cl{clear:both;}

/* position */
.rel{position:relative;}
.abs{position:absolute;}

/*z-index*/
.zx0 { z-index:0;}
.zx1 { z-index:1;}
.zx2 { z-index:2;}
.zx3 { z-index:3;}
.zx4 { z-index:4;}
.zx5 { z-index:5;}

/* cursor */
.poi { cursor:pointer;}
.def { cursor:default;}

/* overflow */
.ovh { overflow:hidden;}
.ova { overflow:auto;}

/* visibility */
.vh { visibility:hidden;}
.vv { visibility:visible;}

/* zoom */
.z { *zoom:1;}


/*--------------------- multiply CSS ---------------------*/
/* 块状元素水平居中 */
.auto { margin-right:auto; margin-left:auto;}

/* 清除浮动 */
.clearfix:before,
.clearfix:after { content: ""; display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}

/* 单行文字溢出省略号显示 */
.ell { text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

/* css3过渡动画效果 */
.trans{
	-webkit-transition:all 0.3s;	
	        transition:all 0.3s;
}

/* 大小不定元素垂直居中 */
.dib_vm { display:inline-block; width:0; height:100%; vertical-align:middle;}

/* 无框文本框文本域 */
.bd_none { border:0; outline:none;}

/* 绝对定位隐藏 */
.abs_out{position:absolute; left:-999em; top:-999em;}
.abs_clip{position:absolute; clip:rect(0 0 0 0);}

/* 四角绝对定位 */
.abs_tr { position:absolute; top:0; right:0;}
.abs_tr_1 { position:absolute; top:-1px; right:-1px;}
.abs_br { position:absolute; right:0; bottom:0;}
.abs_br_1 { position:absolute; right:-1px; bottom:-1px;}
.abs_bl { position:absolute; bottom:0; left:0;}
.abs_bl_1 { position:absolute; bottom:-1px; left:-1px;}
.abs_tl { position:absolute; left:0; top:0;}
.abs_tl_1 { position:absolute; left:-1px; top:-1px;}

/* 按钮禁用 */
.disabled { color:#acacac!important; border-color:#acacac!important; text-shadow:1px 1px #fff!important; outline:0!important; cursor:default!important; pointer-events:none;}
.disabled:hover { text-decoration:none!important;}

/* inline-block与float等宽列表 */
.inline_box { font-size:1em; letter-spacing:-.25em; font-family:Arial;}
.inline_two,
.inline_three,
.inline_four,
.inline_five,
.inline_six,
.inline_any { display:inline-block; *display:inline; letter-spacing:0; vertical-align:top; *zoom:1;}
.float_two,
.float_three,
.float_four,
.float_five,
.float_six { float:left;}
.inline_two,
.float_two { width:49.9%;}
.inline_three,
.float_three { width:33.3%;}
.inline_four,
.float_four { width:24.9%;}
.inline_five,
.float_five { width:19.9%;}
.inline_six,
.float_six { width:16.6%;}
.inline_fix { display:inline-block; width:100%; height:0; overflow:hidden;}