@CHARSET "UTF-8";

body{font-size: 45px; line-height: 50px; margin: 1%;}
	
.btn{font-size: 30px; line-height: 30px; border: 1px solid #b1b1b1;}

.c {text-align: center;}
.l {text-align: left;}
.r {text-align: right;}
.in {text-align: inherit;}

.pd5 {padding: 15px;}
.pd10 {padding: 15px;}
.pd15 {padding: 15px;}
.pd20 {padding: 20px;}
.pd_b50 {padding-bottom: 150px;}

.bgc {background-color: #ececec;}

.cell { height: 65px; padding-top: 10px; color: #000; font-size: 35px; line-height: 40px; list-style: none; border: 2px solid #d0d1d0; margin-top: -2px;}
.cell_l {float:left; width: 49.5%; clear: both;}
.cell_r {float:left; width: 49.5%; margin-left: -2px;}

.desc { clear: both;}
.dscH{height: 50px;}
.mgt { margin-top: 100px;}

