<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
  <display-name>weixin_demo</display-name>
  <welcome-file-list>
    <welcome-file>page/weixin/open/index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext*.xml</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>WeixinValidateCallbackServlet</servlet-name>
    <servlet-class>com.lx.weixin.servlet.WeixinValidateCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeixinValidateCallbackServlet</servlet-name>
    <url-pattern>/api/service</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FileUploadUtil</servlet-name>
  	<servlet-class>com.lx.weixin.httpClient.FileUploadUtil</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileUploadUtil</servlet-name>
  	<url-pattern>/FileUploadUtil</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WeixinOAuthCallbackServlet</servlet-name>
  	<servlet-class>com.lx.weixin.servlet.WeixinOAuthCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WeixinOAuthCallbackServlet</servlet-name>
  	<url-pattern>/wxOAuthCallback.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WeixinJsSdkValidateServlet</servlet-name>
  	<servlet-class>com.lx.weixin.servlet.WeixinJsSdkValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WeixinJsSdkValidateServlet</servlet-name>
  	<url-pattern>/jssdk/wxJsSdkValidateServlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>LoginRegsiterServlet</servlet-name>
  	<servlet-class>com.lx.weixin.servlet.LoginRegsiterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginRegsiterServlet</servlet-name>
  	<url-pattern>/LoginRegsiterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginRegsiterServlet</servlet-name>
  	<url-pattern>/LoginRegsiterServlet/*</url-pattern>
  </servlet-mapping>
  <!-- <servlet-mapping>
  	<servlet-name>LoginRegsiterServlet</servlet-name>
  	<url-pattern>/LoginRegsiterServlet_*</url-pattern>
  </servlet-mapping> -->
</web-app>