<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
  <display-name>weixin_demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
<!--     <welcome-file>page/weixin/open/index.jsp</welcome-file> -->
  </welcome-file-list>
  
  <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext*.xml</param-value>
  </context-param>
  
  <!-- 文件上传工具类 -->  
  <servlet>
  	<servlet-name>FileUploadUtil</servlet-name>
  	<servlet-class>com.lx.weixin.httpClient.FileUploadUtil</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileUploadUtil</servlet-name>
  	<url-pattern>/FileUploadUtil</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WeixinValidateCallbackServlet</servlet-name>
    <servlet-class>com.lx.weixin.servlet.WeixinValidateCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeixinValidateCallbackServlet</servlet-name>
    <url-pattern>/api/service</url-pattern>
  </servlet-mapping>
    
  <!-- 微信第三方网页授权授权验证回调Servlet -->
  <servlet>
  	<servlet-name>WeixinOAuthCallbackServlet</servlet-name>
  	<servlet-class>com.lx.weixin.servlet.WeixinOAuthCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WeixinOAuthCallbackServlet</servlet-name>
  	<url-pattern>/wxOAuthCallback.do</url-pattern>
  </servlet-mapping>
  
  <!-- 微站接入微信JS-SDK验证Servlet -->
  <servlet>
  	<servlet-name>WeixinJsSdkValidateServlet</servlet-name>
  	<servlet-class>com.lx.weixin.servlet.WeixinJsSdkValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WeixinJsSdkValidateServlet</servlet-name>
  	<url-pattern>/jssdk/wxJsSdkValidateServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 微信公众号——》微站登录注册 -->
  <servlet>
  	<servlet-name>LoginRegsiterServlet</servlet-name>
  	<servlet-class>com.lx.weixin.servlet.LoginRegsiterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginRegsiterServlet</servlet-name>
  	<url-pattern>/LoginRegsiterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginRegsiterServlet</servlet-name>
  	<url-pattern>/LoginRegsiterServlet/*</url-pattern>
  </servlet-mapping>
  <!-- <servlet-mapping>
  	<servlet-name>LoginRegsiterServlet</servlet-name>
  	<url-pattern>/LoginRegsiterServlet_*</url-pattern>
  </servlet-mapping> -->
  
  <!-- 网站手机扫二维码登录——》手机端扫描登录 -->
  <servlet>
  	<servlet-name>PhoneQrCodeLoginServlet</servlet-name>
  	<servlet-class>com.lx.weixin.servlet.qrCodeLogin.PhoneQrCodeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PhoneQrCodeLoginServlet</servlet-name>
  	<url-pattern>/PhoneQrCodeLoginServlet/*</url-pattern>
  </servlet-mapping>
  
  <!-- 网站手机扫二维码登录——》服务端轮询（或长连接）监听手机端登录 -->
  <servlet>
  	<servlet-name>LongConnectionCheckServlet</servlet-name>
  	<servlet-class>com.lx.weixin.servlet.qrCodeLogin.LongConnectionCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LongConnectionCheckServlet</servlet-name>
  	<url-pattern>/LongConnectionCheckServlet/*</url-pattern>
  </servlet-mapping>
</web-app>